.dialogs {
	display: grid;
	grid-template-columns: 3fr 10fr;
	padding-top: 2%;
	font-size: 42px;
	padding-left: 2%;
	grid-gap: 20%;
}
.dialogs_items {
	padding-left: 5%;
	color: rgb(0 0 0 / 74%);
}
.dialogs_items > div > div > a {
	text-decoration: none;
}
.messages {
	color: #050026;
}

.dialogs_items > div > div > a:link {
	color: #bebeff;
}
.dialogs_items > div > div > a:active {
	color: #ff00c8;
}
.dialogs_items > div > div > a:visited {
	color: #5e69ffa9;
}
.dialogs_items > div > div > a:focus {
	color: #4f5bffa9;
}

.avatar {
	width: 37px;
	padding-right: 15px;
}

.dialogString {
	display: flex;
	align-items: center;
}

.addmessage {
	padding-top: 50px;
	display: flex;
	align-items: center;
}
.addmessage > div {
	display: flex;
	padding-bottom: 45px;
}
