.dialogs {
	display: grid;
	grid-template-columns: 3fr 10fr;
	padding-top: 2%;
	font-size: 42px;
	padding-left: 2%;
	grid-gap: 20%;
}
.dialogs_items {
	padding-left: 5%;
	color: rgb(0 0 0 / 74%);
}
.dialogs_items > div > div > a {
	text-decoration: none;
}
.messages {
	color: #050026;
}

.active {
	color: rgba(214, 59, 59, 0.74);
}

.avatar {
	width: 37px;
	padding-right: 15px;
}

.dialogString {
	display: flex;
	align-items: center;
}
