.descriptionBlock img {
	width: 65px;
	padding: 10px;
}
.descriptionBlock {
	font-size: 16px;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	letter-spacing: 2.5px;
	font-weight: 300;
}

.image {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2.3%;
}

@media (max-width: 1200px) {
	.image img {
		width: 43.25rem;
	}
}

@media (max-width: 700px) {
	.image img {
		width: 20.25rem;
	}
}
