.header {
	grid-area: h;
	background-color: #38c8ff30;
	color: rgb(0 48 91);
	text-shadow:
    /* White glow */ 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff;
	font-size: 48px;
	display: flex;
	justify-content: space-around;
}
.header img {
	padding: 9px;
	width: 40px;
	position: relative;
}
.hname {
	letter-spacing: 67px;
	font-family: ui-rounded;
}
@media (max-width: 1200px) {
	.hname {
		letter-spacing: 43px;
	}
}

@media (max-width: 700px) {
	.hname {
		letter-spacing: 22px;
	}
}

.loginBlock {
	float: right;
	padding-right: 3%;
}
.loginBlock a {
	color: rgb(78, 71, 71);
	text-decoration: none;
}
