.nav {
	grid-area: n;
	background-color: rgb(129 140 255 / 38%);
	padding: 38px 0px 0px 26px;
}
.item {
	padding-bottom: 15px;
	padding-right: 10px;
	font-size: 32px;
	text-decoration: none;
	color: rgb(250, 243, 251);
}
.active {
	font-size: 102%;
	color: rgb(0 22 164 / 66%);
	text-shadow: /* White glow */ 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff;
	text-decoration: none;
}

.fSlider {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 3%;
	width: 10rem;
}
.fSlider > div > img {
	width: 45px;
}
.fSlider > div > p {
	font-size: 16px;
}
