.nav {
	grid-area: n;
	background-color: rgb(129 140 255 / 38%);
	padding: 38px 0px 0px 26px;
}
.item {
	padding-bottom: 15px;
	padding-right: 10px;
}
.item a {
	font-size: 32px;
	text-decoration: none;
	color: rgb(250, 243, 251);
}
.active a {
	transform: scale(1.05);
	color: rgb(39, 39, 35);
}
