.nav {
	grid-area: n;
	background-color: rgb(129 140 255 / 38%);
	padding: 38px 0px 0px 26px;
}
.item {
	padding-bottom: 15px;
	padding-right: 10px;
	font-size: 32px;
	text-decoration: none;
	color: rgb(250, 243, 251);
}
.active {
	font-size: 102%;
	color: rgba(241, 93, 255, 0.664);
	text-decoration: none;
}
