.item {
	padding-left: 15px;
	color: rgb(160, 160, 160);
}
.itemPost {
	display: flex;
	align-items: center;
}
.itemPost p {
	padding-left: 1%;
}
.item img {
	width: 45px;
}
.likes {
	display: flex;
	justify-content: space-between;
	width: 200px;
	padding: 15px 0px;
}
