:root {
	background-color: rgb(218, 190, 245);
	font-family: "Roboto";
}

div,
header,
nav {
	border-radius: 27px;
}

.app-wrapper {
	max-width: 1200px;
	height: 560px;
	margin: 0 auto;
	display: grid;
	grid-template-areas:
		"h h"
		"n c";
	grid-template-rows: 3.5rem 1fr;
	grid-template-columns: 2fr 10fr;
	grid-gap: 0.8rem;
	padding-top: 0.3%;
}
@media (max-width: 1200px) {
	.app-wrapper {
		max-width: 970px;
		margin: 0 15px;
		padding-top: 2.3%;
	}
}

.app-wrapper-content {
	grid-area: c;
	background-color: rgba(180, 185, 255, 0.616);
}
