:root {
	background-color: rgb(218, 190, 245);
	font-family: "Roboto";
}

.app-wrapper {
	max-width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-template-areas:
		"h h"
		"n c";
	grid-template-rows: 3.75rem 1fr;
	grid-template-columns: 2fr 10fr;
	grid-gap: 0.8rem;
}
@media (max-width: 1200px) {
	.app-wrapper {
		max-width: 970px;
		margin: 0;
	}
}

.app-wrapper-content {
	grid-area: c;
	background-color: rgba(180, 185, 255, 0.616);
}
